AnchorPane {
	-fx-background-color: rgb(255,186,38);
}

.button {
	-fx-text-fill: #ffffff;
	-fx-background-radius:100%;
	-fx-background-color: linear-gradient(#e6e6ff, #0000ff);
}

.button:hover {
	-fx-font-weight: bold;
}

.tab {
	-fx-background-color: rgb(255,186,38);
	-fx-font-weight: bold;
}

.list-view .list-cell:even {
	-fx-background-color: rgb(255,186,38);
	-fx-text-fill: black;
}
.list-view .list-cell:odd {
	-fx-background-color: rgb(255,186,38);
	-fx-text-fill: black;
}
